# Ignore IntelliJ IDEA files
.idea/
out/
*.class

# Ignore Eclipse files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore VS Code files
.vscode/

# Ignore Mac OS files
.DS_Store
